@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
	font-family: 'Caveat', sans-serif;
  /* font-family: Roboto, sans-serif; */
	font-size: 28px;
	color: #fff;
}

img {
	border-radius: 10px;
}

.dark {
	color:#f8fafc;
	background-color: #0f0231
}

.light {
	color:rgb(5, 23, 39);
	background-color: hsl(0, 0%, 100%);
}

.spacer {
	margin-top: 50px;
}

h2 {
	margin-bottom: 40px;
}

p {
	font-size: 16px;
	margin-top: 10px;	
}

p:hover a{
	color: red;
}

a {
	font-size: 20px;
	color: #999;
}

a:hover {
	color: yellow;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.header {
  margin-bottom: 64px;
}

.header__container {
	display: grid;
	grid-template-columns: repeat(2, auto-fit, minmax(800px, 1fr));
	grid-template-rows: 100px 1fr;
  max-height: 768px;
	grid-gap: 10px;
	position: relative;
}

.header__menu {
	grid-row: 1;
	grid-column: 1 / 3;
	display: flex;
	justify-content: center;
}

.header__logo {
	height: 100px;
	
	position: absolute;
	top: 15px;
	left: 15px;
}

.header__links {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
}


.header__caption {
	grid-row: 2;
	grid-column: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.header__name {
	coLor: red;
	font-size: 80px;
}

.header__img {
	height: 400px;
	grid-column: 2;
	grid-row: 2;
	text-align: right;
	padding: 10px;
}

.header__image {
	min-width: 500px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main__about {
	display: grid;
	grid-gap: 5px;
	/* min-width: 960px; */
	grid-template-columns: minmax(200px, 1fr) 8fr minmax(200px, 1fr);
	grid-template-rows: 50px 1fr 1fr;
}

.main__about-caption {
	grid-column: 1 / 4;
	grid-row: 1;
}

.main__about-img1 {
	grid-column: 1;
	grid-row: 2;
	max-width: 200px;
}

.main__about-img2 {
	grid-column: 1;
	grid-row: 3;
	max-width: 200px;
}

.main__about-img3 {
	grid-column: 3;
	grid-row: 2;
	width: 100%;
}

.main__about-img4 {
	grid-column: 3;
	grid-row: 3;
	width: 100%;
}

.main__about-descriotion {
	grid-column: 2;
	grid-row: 2 / 4;
	padding: 0 10px;
	text-align: justify;
}

span {
	color: red;
	font-weight: bold;
}

.main__description{
	text-align: justify;
}

.advantage__items {
	display: grid;
	/* grid-auto-flow: column; */
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	flex-wrap: wrap;
	justify-content: space-between;
}

.advantage__item {
	height: 150px;
	width: 100%;
	display: grid;
	grid-template-rows: 3fr 2fr;
	/* flex-direction: column;
	justify-content: space-between;
	align-items: center; */
	border-radius: 5px;
	padding: 10px;
	transition: all ease 0.4s;
	background-color: rgba(204, 204, 204, 0.445);
}

.advantage__item p {
	line-height: 3pm;
	text-align: center;

}

.advantage__img {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.advantage__img img{
	max-width: 100px;
	max-height: 50px;
}

.advantage__item:hover {
	box-sizing: border-box;
	background-color: rgb(27, 21, 80);
	transform: scale(1.1);
	/* border: 5px solid rgb(27, 21, 80); */
}

.advantage__item:hover p{
	color: yellow;
}

.client {
	display: grid;
	/* grid-auto-flow: column; */
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	flex-wrap: wrap;
	justify-content: space-between;
	/* gap: 10px; */
}

.client a {
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	padding: 10px;
	transition: all ease 0.4s;
	background-color: rgba(204, 204, 204, 0.445);
}

.client div {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.client a img{
	max-width: 100px;
	max-height: 50px;
	border-radius: 0;
}

.client a:hover {
	box-sizing: border-box;
	background-color: rgb(27, 21, 80);
	transform: scale(1.1);
	/* border: 5px solid rgb(27, 21, 80); */
}

.client p {
	font-size: 14px;
}

.footer {
	padding: 15px 0;
}

.footer__contacts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	flex-wrap: wrap;
	/* width: 100%; */
}

.footer__contacts-left {
	font-family: Mali, sans-serif;
	color: #fff;
	grid-column: 1;
	/* width: 100%; */
}

.footer__contacts-left div {
	margin-bottom: 20px;
	font-size: 18px;
}

.footer__contacts-left a {
	color: #fff;
}

.mar {
	margin-right: 20px;
}

.marbig {
	margin-right: 30px;
}
.footer__contacts-left a:hover {
	color: yellow
}

.footer__map {
	grid-column: 2;
}

.footer__bottom {
	margin-top: 35px;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.created {
	height: 25px;
	text-align: end;
}

.created img {
	height: 100%;
}

.hidden {
	display: none;
}

