body {

  /* overflow: hidden; */
  margin: 0;
	/* background-color: hsl(256, 92%, 10%); */
	/* height: 100vh; */
}

h1 {
	color: #fff;
	text-align: center;
	font-size: 36px;
}

.slide__container {
	width: 100%;
	display: flex;
}

.slide {
	height: 500px;
	border-radius: 10px;
	margin: 5px;
	cursor: pointer;
	color: #fff;
	flex: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	transition: all 500ms ease-in-out;
}

.slide h3 {
	position: absolute;
	font-size: 24px;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;
}

.slide.active {
	flex: 10;
}

.slide.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}

.hidden {
	display: none;
}